.window {
    background-color: white;
    position: absolute;
    /* Position HAS TO be absolute for dragging to work */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.windowControls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #1c2127;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 5px;
}