#screen {
    width: 100vw;
    height: 93vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; /* Crops sides if needed */
}


.defaultWallpaper {
    background-image: url("/public/desktop-1080p.webp");
}