#navbar {
    background-color: #1c2127;
    display: flex;
}

#navIcons {
    height: 7vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#navIcons:first-child {
    margin-left: 5px;
}

#status {
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    color:white;
    height: 7vh;
}

#language {
    font-size: 1vw;
    user-select: none;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#language:active {
    color: rgb(192, 192, 192);
}

#language:hover {
    background-color: #34373b;
}